
*{
    margin: 0;
    font-family: cursive;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

button:hover{
    transform: scaleX(1.1);
    transition: 0.8s;
}
body{
    background-color: #2c3e50;
    overflow-x: hidden;
    color: #fff;
}

.header{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
    z-index: 2;
    transition: 0.8s;
}
.toggle{
    position: relative;
    width: 50px;
    height: 50px;
    background: url('../icon/menu.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url('../icon/close.png');
    background-repeat: no-repeat;
    margin-left: 95%;
    background-size: 25px;
    background-position: center;
}
.header.active{
    position: absolute;
    right: 100%;
}
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.text-box{
    width: 500px;
    position: absolute;
    top: 250px;
    left: 5%;
    color: #fff;
    transform: translateY(100px);
}
.text-box h1{
    margin-bottom: 40px;
    letter-spacing: 3px;
}
.text-box p{
    font-size: 30px;
    letter-spacing: 3px;
}
.text-box span{
    background: #fff;
    margin-top: 10px;
    height: 1px;
    width: 30%;
    position: absolute;
    left: 0;
}
.top{
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    display: flex;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: 0s;
}
.logo{
    font-family: cursive;
    letter-spacing: 4px;
    font-style: italic;
    margin-left: 40%;
    font-size: 20px;
    z-index: 10;
}
.top .book{
    z-index: 10;
    margin-left: 20%;
}
.book button{
    background: #fff;
    width: 60px;
    height: 30px;
}
.book button a{
    color: grey;
}
.book button:hover{
    transform: none;
}


.menu{
    padding: 5rem 5% 2rem;
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: 1;
    background: #4298ad;
}
.menu.active{
    position: fixed;
}
.luck ul li, .hater ul li{
    list-style: none;  
}
.luck ul li a{
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 2;
    font-size: 24px;
    color: #fff;  
}
.hater{
    display: block;
    margin-top: 50px;
}
.hater ul li a{
    letter-spacing: 3px;
    text-decoration: none;
    color: #fff;
    line-height: 2;
}

.hotels{
    width: 100%;
    height: auto;
}
.hotels button{
    background: #fff;
    margin-top: 20px;
    width: 100%;
    letter-spacing: 2px;
    height: 50px;
}

.exp{
    height: auto;
    width: 100%;
    padding: 5rem 3% 2rem;
    margin-bottom: 50px;
    color: #fff;
    display: flex;
    align-items: center;
}
.expetex{
    width: 80%;
}
.exp-text h1{
    width: 30%;
    line-height: 2;
    margin-left: 50px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
}
.exp-text p{
    letter-spacing: 1px;
    text-align: center;
    line-height: 2;
}
.iiga{
    width: 100%;
}
.iiga img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}
.glan{
    height: auto;
    width: 100%;
    padding: 1rem 3% 2rem;
    margin-bottom: 50px;
    color: #fff;
}
.glan-text{
    line-height: 3;
}
.glan-text h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}
.cont{
    display: flex;
}
.cont h3{
    font-size: 30px;
    font-weight: lighter;
}
.cont p{
    letter-spacing: 1px;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 20%;
}
.lore{
    width: 100%;
    height: auto;
    padding: 1rem 3% 2rem;
}
.slant{
    background: #b10b0b;
    transform-origin: 0 0;
    transform: rotate(90deg);
    height: 50px;
    width: 20%;
}
.slant h1{
    text-align: center;
    font-size: 20px;
}
.lore-content h3{
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
}
.lore-content .ptext{
    width: 80%;
    padding: 1rem 3% 2rem;
}
.lore-content p{
    letter-spacing: 3px;
    line-height: 2;
}
.aider{
    width: 100%;
    color: #fff;
    padding: 0rem 1% 0rem;
    display: flex;
    align-items: center;
}
.iigan{
    padding: 1rem 3% 2rem;
    width: 100%;
}
.iigan img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}




.sig{
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}
.form-box{
    width: 400px;
    height: 400px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: -5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
transition: .5s;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox img{
    position: absolute;
    right: 8px;
    top: 20px;
    width: 30px;
    height: 30px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.re{
    background-color: #fff;
    text-align: center;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
}
.re a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}
.footer{
    background: #fff;
    color: #2c3e50;
    height: auto;
    width: 100%;
}
.footer img{
    height: 20px;
    width: 20px;
}
.content{
    padding: 5rem 7% 3rem;
}
.tags{
    line-height: 2;
    text-align: center;
}
.tags a{
    color: #4298ad;
    display: block;
    font-size: 20px;
    letter-spacing: 3px;
}
.social{
    text-align: center;
}
.social img{
    margin: 2rem 3% 2rem;
}
.right{
    text-align: center;
}
.right p{
    letter-spacing: 3px;
    font-size: 20px;
}
.bttn{
    display: block;
    margin-top: 30px;
}
.bttn .bty{
    width: 100%;
    display: flex;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #000;
}
.bttn .bty img{
    margin-left: 45%;
}
.bttn .bty p{
    margin-left: 1%;
}

@media (max-width: 1280px) {
    .menu{
        padding: 10rem 9% 2rem;
    }
    .logo{
        margin-left: 30%;
    }
    .text-box{
        top: 400px;
        left: 5%;
    }
}
@media (max-width: 1024px) {
    .menu{
        padding: 4rem 3% 2rem;
    }
    .logo{
        font-size: 15px;
    }
    .text-box{
        top: 250px;
    }
    .head{
        padding: 10px 50px;
    }
}
@media (max-width: 768px) {
    .top{
        height: 10%;
    }
    .top .book{
        margin-left: 15%;
    }
    .logo{
        margin-left: 25%;
    }
    .toggle.active{
        margin-left: 96%;
        background-size: 30px;
    }
    .menu{
        padding: 15rem 9% 2rem;
    }
    .text-box{
        top: 600px;
    }
    .exp{
        display: block;
    }
    .exp-text h1{
        width: 80%;
    }
    .expetex{
        width: 100%;
    }
    .aider{
        display: block;
        margin-bottom: 100px;
    }
    .iiga img, .iigan img, .iigane img{
        height: 40vh;
    }
    .lore-content h3{
        font-size: 40px;
    }
    .lore-content .ptext{
        width: 100%;
        text-align: center;
    }
    .head{
        padding: 25px 50px;
    }
}
@media(max-width: 375px){
    .logo{
        letter-spacing: 2px;
        margin-left: 15%;
        font-size: 10px;
    }
    .top .book{
        margin-left: 10%;
        font-size: 10px;
    }
    .book button{
        height: 25px;
    }
    .menu{
        padding: 6rem 5% 0rem;
    }
    .head{
        padding: 6px 0px;
    }
    .toggle.active{
        margin-left: 90%;
        background-size: 25px;
    }
    .text-box{
        top: 300px;
        width: 300px;
    }
    .glan{
        padding: 0rem 0% 0rem;
    }
    .form-box{
        width: 350px;
    }
    .slant{
        display: none;
    }
    .lore-content h3{
        font-size: 30px;
    }
}